# 1. Loading and Reading Dataset:

In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [29]:
# Hiển thị tất cả các hàng 
pd.set_option('display.max_rows', None)

## - Import data

In [30]:
Customers = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\olist_customers_dataset.csv")

In [31]:
Geolocation = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\olist_geolocation_dataset.csv")

In [32]:
Order_items = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\olist_order_items_dataset.csv")

In [33]:
Order_payments = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\olist_order_payments_dataset.csv")

In [34]:
Order_reviews = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\olist_order_reviews_dataset.csv")

In [35]:
Orders = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\olist_orders_dataset.csv")

In [36]:
Products = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\olist_products_dataset.csv")

In [37]:
Sellers = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\olist_sellers_dataset.csv")

In [38]:
Category = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Ecommerce\product_category_name_translation.csv")

In [39]:
Orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [40]:
Orders = Orders.drop(columns=['order_approved_at' , 'order_delivered_customer_date', 'order_delivered_carrier_date'])
Products = Products.drop(columns=["product_weight_g","product_name_lenght", "product_description_lenght", "product_photos_qty", "product_length_cm", "product_height_cm", "product_width_cm", "product_length_cm"])
Order_reviews = Order_reviews.drop(columns=['review_comment_title', 'review_comment_message'])

In [41]:
dataset = {
    'Customers': Customers,
    'Order Items': Order_items,
    'Payments': Order_payments,
    'Orders': Orders,
    'Products': Products,
    'Sellers': Sellers,
    'Reviews': Order_reviews,
    'Geolocation': Geolocation,
    'Category': Category
}

for x, y in dataset.items():
    print(f'{x}', (list(y.shape)))
    print(f'{x}', f'{list(y.columns)}')
    print('\n')

Customers [99441, 5]
Customers ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']


Order Items [112650, 7]
Order Items ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']


Payments [103886, 5]
Payments ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']


Orders [99441, 5]
Orders ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_estimated_delivery_date']


Products [32951, 2]
Products ['product_id', 'product_category_name']


Sellers [3095, 4]
Sellers ['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']


Reviews [99224, 5]
Reviews ['review_id', 'order_id', 'review_score', 'review_creation_date', 'review_answer_timestamp']


Geolocation [1000163, 5]
Geolocation ['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']


Category [71, 2]
Category ['product_category_name', 'product_category_name_english']

In [42]:
# Kiểm tra dataset nào bị null
for x, y in dataset.items():
    print(f'{x}: {y.isnull().any().any()}')

Customers: False
Order Items: False
Payments: False
Orders: False
Products: True
Sellers: False
Reviews: False
Geolocation: False
Category: False

In [43]:
# Đếm số giá trị null
for x, y in dataset.items():
    if y.isnull().any().any():
        print(f'{x}', (list(y.shape)),'\n')
        print(f'{y.isnull().sum()}\n')

Products [32951, 2]

product_id                 0
product_category_name    610
dtype: int64

## - Merge

In [44]:
# Nối tên sản phẩm mới tương ứng
Products = Products.merge(Category, on='product_category_name')
Products = Products.rename(columns={'product_category_name_english':'product_category_name', 'product_category_name':'product_category_name_old'})
Products = Products.drop(columns=['product_category_name_old'])

In [45]:
Products.head()

                         product_id product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumery
1  3aa071139cb16b67ca9e5dea641aaa2f                   art
2  96bd76ec8810374ed1b65e291975717f        sports_leisure
3  cef67bcfe19066a932b7673e239eb23d                  baby
4  9dc1a7de274444849c219cff195d0b71            housewares

In [46]:
# Nối các dataset còn lại
df1 = Order_items.merge(Order_payments, on='order_id')
print(df1.shape)
df2 = df1.merge(Products, on='product_id')
print(df2.shape)
df3 = df2.merge(Sellers , on='seller_id')
print(df3.shape)
df4 = df3.merge(Order_reviews, on='order_id')
print(df4.shape)
df5 = df4.merge(Orders, on='order_id')
print(df5.shape)
Olist = df5.merge(Customers , on='customer_id')
print(Olist.shape)

(117601, 11)
(115878, 12)
(115878, 15)
(115609, 19)
(115609, 23)
(115609, 27)

In [47]:
Olist.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,review_creation_date,review_answer_timestamp,customer_id,order_status,order_purchase_timestamp,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,credit_card,2,...,2017-09-21 00:00:00,2017-09-22 10:57:03,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1,credit_card,3,...,2017-05-13 00:00:00,2017-05-15 11:34:13,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1,credit_card,5,...,2018-01-23 00:00:00,2018-01-23 16:06:31,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-02-05 00:00:00,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1,credit_card,2,...,2018-08-15 00:00:00,2018-08-15 16:39:01,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-20 00:00:00,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1,credit_card,3,...,2017-03-02 00:00:00,2017-03-03 10:54:59,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-03-17 00:00:00,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP

## - Tiền xử lý dữ liệu

In [48]:
# Chuyển đổi định dạng ngày giờ cho cột thời gian
date_columns = ['shipping_limit_date', 'review_creation_date', 'review_answer_timestamp', 'order_purchase_timestamp', 'order_estimated_delivery_date']
for col in date_columns:
    Olist[col] = pd.to_datetime(Olist[col], format='%Y-%m-%d %H:%M:%S')

In [49]:
# cleaning up name columns, and engineering new/essential columns
Olist['customer_city'] = Olist['customer_city'].str.title()
Olist['seller_city'] = Olist['seller_city'].str.title()
Olist['product_category_name'] = Olist['product_category_name'].str.title()
Olist['payment_type'] = Olist['payment_type'].str.replace('_', ' ').str.title()
Olist['product_category_name'] = Olist['product_category_name'].str.replace('_', ' ')
Olist['review_response_time'] = (Olist['review_answer_timestamp'] - Olist['review_creation_date']).dt.days
#Olist['delivery_against_estimated'] = (Olist['order_estimated_delivery_date'] - Olist['order_delivered_customer_date']).dt.days
#Olist['product_size_cm'] = Olist['product_length_cm'] * Olist['product_height_cm'] * Olist['product_width_cm']
Olist['order_purchase_year'] = Olist.order_purchase_timestamp.apply(lambda x: x.year)
Olist['order_purchase_month'] = Olist.order_purchase_timestamp.apply(lambda x: x.month)
Olist['order_purchase_dayofweek'] = Olist.order_purchase_timestamp.apply(lambda x: x.dayofweek)
Olist['order_purchase_hour'] = Olist.order_purchase_timestamp.apply(lambda x: x.hour)
Olist['order_purchase_day'] = Olist['order_purchase_dayofweek'].map({0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'})
Olist['order_purchase_mon'] = Olist.order_purchase_timestamp.apply(lambda x: x.month).map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})

In [50]:
Olist.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,customer_zip_code_prefix,customer_city,customer_state,review_response_time,order_purchase_year,order_purchase_month,order_purchase_dayofweek,order_purchase_hour,order_purchase_day,order_purchase_mon
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,Credit Card,2,...,28013,Campos Dos Goytacazes,RJ,1,2017,9,2,8,Wed,Sep
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1,Credit Card,3,...,15775,Santa Fe Do Sul,SP,2,2017,4,2,10,Wed,Apr
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1,Credit Card,5,...,35661,Para De Minas,MG,0,2018,1,6,14,Sun,Jan
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1,Credit Card,2,...,12952,Atibaia,SP,0,2018,8,2,10,Wed,Aug
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1,Credit Card,3,...,13226,Varzea Paulista,SP,1,2017,2,5,13,Sat,Feb

In [51]:
Olist.to_csv('Olist_Master.csv', index=False)

In [52]:
features = ['order_id', 'order_status', 'order_purchase_timestamp',
       'payment_value', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state']
Olist_db = Olist[features]
Olist_db.shape

(115609, 8)

In [53]:
Olist_db.head()

,order_id,order_status,order_purchase_timestamp,payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,delivered,2017-09-13 08:59:02,72.19,871766c5855e863f6eccc05f988b23cb,28013,Campos Dos Goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,delivered,2017-04-26 10:53:06,259.83,eb28e67c4c0b83846050ddfb8a35d051,15775,Santa Fe Do Sul,SP
2,000229ec398224ef6ca0657da4fc703e,delivered,2018-01-14 14:33:31,216.87,3818d81c6709e39d06b2738a8d3a2474,35661,Para De Minas,MG
3,00024acbcdf0a6daa1e931b038114c75,delivered,2018-08-08 10:00:35,25.78,af861d436cfc08b2c2ddefd0ba074622,12952,Atibaia,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,delivered,2017-02-04 13:57:51,218.04,64b576fb70d441e8f1b2d7d446e483c5,13226,Varzea Paulista,SP

In [54]:
Olist_db['order_purchase_date'] = Olist_db.order_purchase_timestamp.apply(lambda x: pd.to_datetime(x, format="%Y-%m-%d"))

C:\Users\acer\AppData\Local\Temp\ipykernel_12832\3243591887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Olist_db['order_purchase_date'] = Olist_db.order_purchase_timestamp.apply(lambda x: pd.to_datetime(x, format="%Y-%m-%d"))

In [55]:
Olist_db.head()

,order_id,order_status,order_purchase_timestamp,payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_purchase_date
0,00010242fe8c5a6d1ba2dd792cb16214,delivered,2017-09-13 08:59:02,72.19,871766c5855e863f6eccc05f988b23cb,28013,Campos Dos Goytacazes,RJ,2017-09-13 08:59:02
1,00018f77f2f0320c557190d7a144bdd3,delivered,2017-04-26 10:53:06,259.83,eb28e67c4c0b83846050ddfb8a35d051,15775,Santa Fe Do Sul,SP,2017-04-26 10:53:06
2,000229ec398224ef6ca0657da4fc703e,delivered,2018-01-14 14:33:31,216.87,3818d81c6709e39d06b2738a8d3a2474,35661,Para De Minas,MG,2018-01-14 14:33:31
3,00024acbcdf0a6daa1e931b038114c75,delivered,2018-08-08 10:00:35,25.78,af861d436cfc08b2c2ddefd0ba074622,12952,Atibaia,SP,2018-08-08 10:00:35
4,00042b26cf59d7ce69dfabb4e55b4fd9,delivered,2017-02-04 13:57:51,218.04,64b576fb70d441e8f1b2d7d446e483c5,13226,Varzea Paulista,SP,2017-02-04 13:57:51

# 2. Tính RFM

In [ ]:
Olist_db = pd.read_csv(r"D:\DataWarehouse and DataMining\DataMining\BaoCaoNhom\Olist_Master.csv")
Olist_db.head()

## - Xoá dòng trùng lặp

In [ ]:
df.duplicated().sum()

In [ ]:
df[df.duplicated(keep=False)].sort_values(by=['StockCode','InvoiceNo'] ).head(10)

In [40]:
# Removing duplicates
df = df.drop_duplicates(keep='first')

In [ ]:
df.duplicated().sum()

In [ ]:
df.info()

## - Xử lý null

In [ ]:
df.isnull().sum()

In [ ]:
df_des_nulls=df[df['Description'].isnull()]
df_des_nulls.head(10)

In [ ]:
df_des_nulls.isnull().sum()

In [ ]:
df_cus_nulls = df[df['CustomerID'].isnull()]
df_cus_nulls.head(10)

In [ ]:
# Loai bo gia tri null
df_not_nulls = df[df['CustomerID'].notna()]
df_not_nulls.head(10)

In [ ]:
df_not_nulls.isnull().sum()

## - Chuyển đổi dữ liệu về định dạng phù hợp

In [ ]:
df_not_nulls.info()

In [ ]:
print(df_not_nulls['CustomerID'].dtype)
print(df_not_nulls['CustomerID'].unique())

In [ ]:
# Chuyển đổi CustomerID từ float sang int
df_not_nulls['CustomerID'] = df_not_nulls['CustomerID'].astype(int)

In [ ]:
print(df_not_nulls['CustomerID'].dtype)
print(df_not_nulls['CustomerID'].unique())

## - Xoá các đơn hàng bị huỷ

In [ ]:
df_not_nulls.info()

In [ ]:
df_not_nulls['InvoiceNo'].str.contains('C').sum()

In [55]:
df_not_nulls=df_not_nulls[~df_not_nulls['InvoiceNo'].str.contains('C', na = False)]

In [ ]:
df_not_nulls.nunique()

In [ ]:
df_not_nulls.info()

## - Xoá các đơn hàng có giá trị = 0

In [ ]:
print("Negative value in Quantity is:",(df_not_nulls.Quantity<0).sum())
print("Negative value in Price is:",(df_not_nulls.UnitPrice<0).sum())

In [ ]:
UnitPrice = 0.0
print(df_not_nulls[df_not_nulls['UnitPrice'] == UnitPrice ])

In [60]:
# df_not_nulls = df_not_nulls[df_not_nulls['UnitPrice'] != 0]

In [61]:
# UnitPrice = 0.0
# print(df_not_nulls[df_not_nulls['UnitPrice'] == UnitPrice ])

## - Xử lý outlier

In [62]:
#defining funcation to remove outliers w.r.t its thresholds
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return up_limit, low_limit

def replace_with_threshold(dataframe, variable):
    up_limit, low_limit = outlier_thresholds(dataframe, variable)
    # dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit

In [ ]:
# Observing them before removing outliers.
f, ax = plt.subplots(2,1, figsize = (20,5))
col_list = ["Quantity","UnitPrice"]
for i in range(0,2):
    ax[i].boxplot(df_not_nulls[col_list[i]],flierprops = dict(marker = "s", markerfacecolor = "red"), vert = 0)
plt.show()

In [ ]:
# Applying the functions for remove the outlier.
replace_with_threshold(df_not_nulls, "Quantity")
replace_with_threshold(df_not_nulls, "UnitPrice")

In [ ]:
# Observing them after removing outliers.
f, ax = plt.subplots(2,1, figsize = (20,5))
for i in range(0,2):
    ax[i].boxplot(df_not_nulls[col_list[i]],flierprops = dict(marker = "s", markerfacecolor = "red"), vert = 0)
plt.show()

# 2. Tính R,F,M

In [ ]:
import pandas as pd
import datetime

# 1. Calculate Recency (R)
# Get the maximum transaction date and add one day
current_date = max(df_not_nulls['InvoiceDate']) + datetime.timedelta(days=1)

# 2. Calculate Total_Price
df_not_nulls['TotalPay'] = df_not_nulls['Quantity'] * df_not_nulls['UnitPrice']



# 3. Group by CustomerID to calculate R, F, M
rfm_df = df_not_nulls.groupby(['CustomerID']).agg(
    Recency=('InvoiceDate', lambda x: (current_date - x.max()).days),  # Recency
    Frequency=('InvoiceNo', lambda x: x.nunique()),  # Frequency
    Monetary=('TotalPay', lambda x: x.sum())  # Monetary
).reset_index()

# Display the RFM DataFrame
print(rfm_df.head())

In [ ]:
current_date

In [ ]:
# Ve phan phoi de kiem tra
# Tạo đồ thị
fig, ax = plt.subplots(1, 3, figsize=(12, 4))

# Sử dụng sns.histplot để thay thế sns.distplot
sns.histplot(rfm_df['Recency'], kde=True, ax=ax[0])
ax[0].set_title('Recency Distribution')

sns.histplot(rfm_df['Frequency'], kde=True, ax=ax[1])
ax[1].set_title('Frequency Distribution')

sns.histplot(rfm_df['Monetary'], kde=True, ax=ax[2])
ax[2].set_title('Monetary Distribution')

plt.tight_layout()
plt.show()

## - Xử lý outlier

In [69]:
# import matplotlib.pyplot as plt

# def plot_boxplot(df, ft):
#     plt.figure(figsize=(12, 6))

#     # Vẽ boxplot nằm ngang
#     plt.subplot(1, 2, 1)
#     df.boxplot(column=[ft], vert=False)
#     plt.title(f'Boxplot of {ft}')
#     plt.grid(False)

#     # Vẽ histogram
#     plt.subplot(1, 2, 2)
#     df[ft].hist(bins=30, edgecolor='black')
#     plt.title(f'Histogram of {ft}')
#     plt.xlabel(ft)
#     plt.ylabel('Frequency')

#     plt.tight_layout()
#     plt.show()

In [70]:
# plot_boxplot(rfm_df, 'Recency')

In [71]:
# plot_boxplot(rfm_df, 'Frequency')

In [72]:
# plot_boxplot(rfm_df, 'Monetary')

In [73]:
# from typing import Tuple
# from sklearn.base import BaseEstimator, TransformerMixin


# def find_boxplot_boundaries(
#     col: pd.Series, whisker_coeff: float = 1.5
# ) -> Tuple[float, float]:
#     """Findx minimum and maximum in boxplot.

#     Args:
#         col: a pandas serires of input.
#         whisker_coeff: whisker coefficient in box plot
#     """
#     Q1 = col.quantile(0.25)
#     Q3 = col.quantile(0.75)
#     IQR = Q3 - Q1
#     lower = Q1 - whisker_coeff * IQR
#     upper = Q3 + whisker_coeff * IQR
#     return lower, upper


# class BoxplotOutlierClipper(BaseEstimator, TransformerMixin):
#     def __init__(self, whisker_coeff: float = 1.5):
#         self.whisker = whisker_coeff
#         self.lower = None
#         self.upper = None

#     def fit(self, X: pd.Series):
#         self.lower, self.upper = find_boxplot_boundaries(X, self.whisker)
#         return self

#     def transform(self, X):
#         return X.clip(self.lower, self.upper)

In [74]:
# # Áp dụng clipping outliers trực tiếp vào cột "Frequency" trong rfm_df
# rfm_df["Frequency"] = BoxplotOutlierClipper().fit_transform(rfm_df["Frequency"])

# # Vẽ histogram và boxplot cho cột "Frequency" sau khi xử lý
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(15, 5))
# rfm_df["Frequency"].hist(bins=50, ax=axes[0])
# rfm_df[["Frequency"]].boxplot(ax=axes[1], vert=False)
# plt.show()

In [75]:
# # Áp dụng clipping outliers trực tiếp vào cột "Monetary" trong rfm_df
# rfm_df["Monetary"] = BoxplotOutlierClipper().fit_transform(rfm_df["Monetary"])

# # Vẽ histogram và boxplot cho cột "Monetary" sau khi xử lý
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(15, 5))
# rfm_df["Monetary"].hist(bins=50, ax=axes[0])
# rfm_df[["Monetary"]].boxplot(ax=axes[1], vert=False)
# plt.show()

In [76]:
# # Vẽ biểu đồ phân phối
# import seaborn as sns
# import matplotlib.pyplot as plt

# # Giả sử rfm_df là DataFrame của bạn

# fig, ax = plt.subplots(1, 3, figsize=(12, 4))

# sns.histplot(rfm_df['Recency'], ax=ax[0])
# sns.histplot(rfm_df['Frequency'], ax=ax[1])
# sns.histplot(rfm_df['Monetary'], ax=ax[2])

# plt.show()

## - Chuyển về phân phối chuẩn

In [77]:
from scipy import stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

def analyze_skewness(data, column):
    # Thiết lập biểu đồ 2x2
    fig, ax = plt.subplots(2, 2, figsize=(10, 8))
    
    # Phân phối gốc
    sns.histplot(data[column], kde=True, ax=ax[0, 0])
    ax[0, 0].set_title('Original Distribution')
    
    # Phân phối sau khi log transformation
    sns.histplot(np.log(data[column] + 1), kde=True, ax=ax[0, 1])
    ax[0, 1].set_title('Log Transformation')
    
    # Phân phối sau khi square root transformation
    sns.histplot(np.sqrt(data[column]), kde=True, ax=ax[1, 0])
    ax[1, 0].set_title('Square Root Transformation')
    
    # Phân phối sau khi box-cox transformation
    transformed_data, _ = stats.boxcox(data[column][data[column] > 0])  # Chỉ áp dụng Box-Cox cho các giá trị dương
    sns.histplot(transformed_data, kde=True, ax=ax[1, 1])
    ax[1, 1].set_title('Box-Cox Transformation')
    ax[1, 1].set_xlabel(column)  # Đặt lại tên trục x

    
    plt.tight_layout()
    plt.show()
    
    # Tính độ lệch skewness cho từng phép biến đổi
    print(f"Original Skewness: {data[column].skew().round(2)}")
    print(f"Log Transformation Skewness: {np.log(data[column] + 1).skew().round(2)}")
    print(f"Square Root Transformation Skewness: {np.sqrt(data[column]).skew().round(2)}")
    print(f"Box-Cox Transformation Skewness: {pd.Series(transformed_data).skew().round(2)}")

In [ ]:
analyze_skewness(rfm_df, 'Recency')

In [ ]:
analyze_skewness(rfm_df, 'Frequency')

In [ ]:
analyze_skewness(rfm_df, 'Monetary')

In [ ]:
# Tiến hành transform dữ liệu
rfm_df.head()

In [ ]:
print(rfm_df[rfm_df['Monetary'] <= 0])

In [83]:
rfm_df = rfm_df[rfm_df['Monetary'] > 0]

In [84]:
rfm_df_t = pd.DataFrame()
rfm_df_t['Recency'] = stats.boxcox(np.sqrt(rfm_df['Recency']))[0]
rfm_df_t['Frequency'] = stats.boxcox(rfm_df['Frequency'])[0]
rfm_df_t['Monetary'] = stats.boxcox(rfm_df['Monetary'])[0]

## - K-Means

In [ ]:
# Tiến hành scale dữ liệu
from sklearn.preprocessing import StandardScaler

# Tạo một đối tượng StandardScaler
scaler = StandardScaler()

# Fit và transform dữ liệu
rfm_df_t = scaler.fit_transform(rfm_df_t)

# Để xem dữ liệu đã transform dưới dạng DataFrame
pd.DataFrame(rfm_df_t).head()

In [ ]:
# Đưa dữ liệu vào K means
# Chon so cum bang Elbow
from sklearn.cluster import KMeans

# Khởi tạo dictionary để lưu kết quả
sse = {}

# Thử nghiệm với số cụm từ 1 đến 11
for k in range(1, 11):
    # Khởi tạo mô hình KMeans với k cụm
    kmeans = KMeans(n_clusters=k, random_state=42)
    # Fit mô hình với dữ liệu đã chuẩn hóa
    kmeans.fit(rfm_df_t)
    # Lưu giá trị inertia (SSE) cho số cụm k
    sse[k] = kmeans.inertia_

# Vẽ đồ thị Elbow
plt.title('The Elbow Method')
plt.xlabel('k')  # Số cụm
plt.ylabel('SSE')  # Sum of Squared Errors
sns.pointplot(x=list(sse.keys()), y=list(sse.values()))
plt.show()

In [ ]:
from sklearn.metrics import silhouette_score
range_k = range(2, 11)  # Kiểm tra từ 2 đến 10 cụm
silhouette_scores = []
for k in range_k:
    kmeans = KMeans(n_clusters=k, random_state=42)
    cluster_labels = kmeans.fit_predict(rfm_df_t)
    silhouette_avg = silhouette_score(rfm_df_t, cluster_labels)
    silhouette_scores.append(silhouette_avg)
plt.figure(figsize=(10, 5))
plt.plot(range_k, silhouette_scores, marker='o')
plt.title('Silhouette Score for Optimal k')
plt.xlabel('Number of Clusters (k)')
plt.ylabel('Silhouette Score')
plt.xticks(range_k)
plt.grid()
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples

# Giả sử bạn đã chuẩn hóa dữ liệu và biến rfm_df_t có kích thước (n_samples, 3)
for i, k in enumerate([2,3,4]):
    fig = plt.figure(figsize=(18, 7))
    
    # Run the KMeans algorithm
    km = KMeans(n_clusters=k, random_state=42)
    labels = km.fit_predict(rfm_df_t)
    centroids = km.cluster_centers_

    # Get silhouette samples
    silhouette_vals = silhouette_samples(rfm_df_t, labels)

    # Silhouette plot
    ax1 = fig.add_subplot(121)
    y_ticks = []
    y_lower, y_upper = 0, 0
    for cluster in np.unique(labels):
        cluster_silhouette_vals = silhouette_vals[labels == cluster]
        cluster_silhouette_vals.sort()
        y_upper += len(cluster_silhouette_vals)
        ax1.barh(range(y_lower, y_upper), cluster_silhouette_vals, edgecolor='none', height=1)
        ax1.text(-0.03, (y_lower + y_upper) / 2, str(cluster + 1))
        y_lower += len(cluster_silhouette_vals)

    # Get the average silhouette score and plot it
    avg_score = np.mean(silhouette_vals)
    ax1.axvline(avg_score, linestyle='--', linewidth=2, color='green')
    ax1.set_yticks([])
    ax1.set_xlim([-0.1, 1])
    ax1.set_xlabel('Silhouette coefficient values')
    ax1.set_ylabel('Cluster labels')
    ax1.set_title('Silhouette plot for the various clusters', y=1.02)

    # Scatter plot of data colored with labels in 3D
    ax2 = fig.add_subplot(122, projection='3d')
    ax2.scatter(rfm_df_t[:, 0], rfm_df_t[:, 1], rfm_df_t[:, 2], c=labels, cmap='viridis')
    ax2.scatter(centroids[:, 0], centroids[:, 1], centroids[:, 2], marker='*', c='r', s=250)
    ax2.set_xlabel('Feature 1')  # Cập nhật nhãn nếu cần
    ax2.set_ylabel('Feature 2')  # Cập nhật nhãn nếu cần
    ax2.set_zlabel('Feature 3')  # Cập nhật nhãn nếu cần
    ax2.set_title('Visualization of clustered data', y=1.02)
    
    plt.tight_layout()
    plt.suptitle(f'Silhouette analysis using k = {k}',
                 fontsize=16, fontweight='semibold', y=1.05)
    plt.show()

In [ ]:
model = KMeans(n_clusters=3, random_state=42)
model.fit(rfm_df_t)

In [ ]:
# Gán nhãn cluster vào dataframe
rfm_df['Cluster'] = model.labels_ 

# Kiểm tra kích thước
print(len(rfm_df), len(model.labels_))

In [ ]:
rfm_df.groupby('Cluster').agg(
    {
        'Recency':'mean',
        'Frequency': 'mean',
        'Monetary': 'mean'
    }
)

In [ ]:
rfm_df.head(10)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

# Chọn các thuộc tính bạn muốn tính giá trị trung bình
features = ['Recency', 'Frequency', 'Monetary']

# Chuẩn hóa các thuộc tính
scaler = MinMaxScaler()
rfm_df[features] = scaler.fit_transform(rfm_df[features])
# Tính tỷ lệ phần trăm số lượng mẫu trong từng cụm
cluster_counts = rfm_df['Cluster'].value_counts(normalize=True)

# Tính giá trị trung bình của các thuộc tính theo từng cụm
mean_values = rfm_df.groupby('Cluster')[features].mean()

# Tạo biểu đồ
fig, ax1 = plt.subplots(figsize=(10, 6))

# Bar chart: phân phối các cụm
colors = ['#FF6347', '#4682B4', '#32CD32', '#FFD700']  # Màu sắc cho từng cụm
ax1.bar(cluster_counts.index, cluster_counts.values, color=colors, alpha=0.6, label='Cluster Distribution')
# Đặt tiêu đề và nhãn cho trục x, y
ax1.set_title('Cluster Distribution and Average Feature Values')
ax1.set_xlabel('Cluster')
ax1.set_ylabel('Percentage', color='blue')
ax1.set_xticks(cluster_counts.index)  # Đảm bảo các nhãn trên trục X đúng
ax1.set_xticklabels(cluster_counts.index, rotation=0)
ax1.tick_params(axis='y', labelcolor='blue')
# Tạo trục y thứ hai để vẽ line chart
ax2 = ax1.twinx()
for feature in features:
    ax2.plot(mean_values.index, mean_values[feature], marker='o', label=feature)
# Đặt nhãn và màu sắc cho trục y thứ hai
ax2.set_ylabel('Average Scaled Value', color='green')
ax2.tick_params(axis='y', labelcolor='green')
# Thêm legend
ax2.legend(title='Features', loc='upper left')
# Hiển thị biểu đồ
plt.tight_layout()
plt.show()

In [ ]:
# grouping the data in accorandance with each cluster seperately
one = rfm_df[rfm_df["Cluster"]==0]
two = rfm_df[rfm_df["Cluster"]==1]
three = rfm_df[rfm_df["Cluster"]==2]
four = rfm_df[rfm_df["Cluster"]==3]

#Checking the quality of clustering in the data set
plt.figure(figsize=(10,5))
ax = plt.axes()
ax.set_facecolor("#cd5c5c")
plt.scatter(one["Recency"],one["Frequency"],color='green')
plt.scatter(two["Recency"],two["Frequency"],color='red')
plt.scatter(three["Recency"],three["Frequency"],color='grey')
plt.scatter(four["Recency"],four["Frequency"],color='blue')
plt.scatter(kmeans.cluster_centers_[:,0],kmeans.cluster_centers_[:,1],color="yellow",marker="*",label="centroid")
plt.legend()
plt.show

In [ ]:
from sklearn.metrics import silhouette_score
print("Silhouette score :",silhouette_score(rfm_df, kmeans.labels_, metric='euclidean'))

## - Hirarchical

In [97]:
from sklearn.cluster import AgglomerativeClustering
from scipy.cluster.hierarchy import fcluster

In [98]:
columns = ['Recency', 'Frequency', 'Monetary']
df_HR = rfm_df[columns]

In [ ]:
scaler = StandardScaler()
data_scaled = scaler.fit_transform(df_HR)
scaled_df_HR = pd.DataFrame(data_scaled, columns=df_HR.columns)
print(scaled_df_HR.head())

In [ ]:
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage

# Tính toán các liên kết phân cấp
Z = linkage(rfm_df_t, method='ward')

# Vẽ dendrogram
plt.figure(figsize=(10, 7))
dendrogram(Z)
plt.title('Dendrogram for Hierarchical Clustering')
plt.xlabel('Index')
plt.ylabel('Distance')
plt.show()

In [ ]:
model = AgglomerativeClustering(n_clusters=2, linkage='ward')
rfm_df['Cluster_Hierarchical'] = model.fit_predict(rfm_df_t)
print("Kết quả phân cụm:\n", rfm_df[['Cluster_Hierarchical']].value_counts())

In [ ]:
print(rfm_df.head())  # Kiểm tra các dòng đầu tiên trong DataFrame để đảm bảo dữ liệu đúng
print(rfm_df.shape)  # Kiểm tra số lượng cột và dòng trong DataFrame

In [ ]:
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')

# Kiểm tra các cột bạn muốn vẽ
sc = ax.scatter(
    rfm_df.iloc[:, 0], rfm_df.iloc[:, 1], rfm_df.iloc[:, 2],  # Các cột cho trục X, Y, Z
    c=rfm_df['Cluster_Hierarchical'], cmap='viridis', s=50  # Dùng cột phân cụm làm màu
)

# Cài đặt tiêu đề và nhãn cho các trục
ax.set_title('Hierarchical Clustering Results (PCA Reduced 3D)', fontsize=16)
ax.set_xlabel('Principal Component 1')
ax.set_ylabel('Principal Component 2')
ax.set_zlabel('Principal Component 3')

# Hiển thị đồ thị
plt.show()

In [ ]:
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')
sc = ax.scatter(
    rfm_df.iloc[:, 0], rfm_df.iloc[:, 1], rfm_df.iloc[:, 2], 
    c=rfm_df['Cluster_Hierarchical'], cmap='viridis', s=50
)
ax.set_title('Hierarchical Clustering Results (PCA Reduced 3D)', fontsize=16)
ax.set_xlabel('Principal Component 1')
ax.set_ylabel('Principal Component 2')
ax.set_zlabel('Principal Component 3')
plt.show()